<style>
  html, body { background-color: #eef3fa !important; }
  .masthead { background-color: #1e3a5f !important; }
  .greedy-nav, .masthead__menu, .masthead__inner-wrap { background: transparent !important; }
</style>
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<meta name="theme-color" content="#1e3a5f">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
