{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" class="author__avatar" alt="{{ author.name }}">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    {% if author.affiliation and author.affiliation_url %}
      <p class="author__affiliation">
        <a href="{{ author.affiliation_url }}">
          {% for line in author.affiliation %}
            <span>{{ line }}</span>
          {% endfor %}
        </a>
      </p>
    {% elsif author.affiliation %}
      <p class="author__affiliation">
        {% for line in author.affiliation %}
          <span>{{ line }}</span>
        {% endfor %}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      {% if author.address %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.address }}</li>
      {% elsif author.location %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ author.email }}</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
    </ul>
  </div>

  <div class="author__visitor">
    <i class="fas fa-fw fa-eye" aria-hidden="true"></i>
    <span id="busuanzi_value_site_uv">–</span> visitors
  </div>

</div>
